<div id="vlinder_categories">
	<% @pages.each do |page| %>
	<div class="vlinder_buttons">
		<div class="vlinder_button_text">
			<%= link_to page.button_text, page, :class => 'vlinder_button_link' %>
		</div>
		<div>
			<%= link_to image_tag(page.try(:foto).try(:url, :medium)), page %>
		</div>
	</div>
<% end %>
</div>
